* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* GLOBAL CLASSES START */
.container {
  margin: 0 auto;
  /* max-width: 1280px; */
  max-width: 1280px;
}

.layout {
  position: relative;
  top: 4.5rem;
}

.btn {
  width: 150px;
  height: 45px;
  text-decoration: none;

  outline: none;
  border: none;
  border-radius: 25px 8px 8px 8px;

  font-family: 'NunitoSans Black';
  font-size: 0.9rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

.sub-title {
  text-transform: lowercase;

  color: #890045;
  font-family: 'DMSerifDisplay Regular';
  font-size: 2.5rem;

  text-align: center;
}

.sub-title .endpoint {
  color: #e792b0;
  font-size: 3rem;
}

.paragraph {
  margin-top: 1rem;
  line-height: 1.7rem;

  color: #070707;
  font-family: 'NunitoSans Regular';
  font-size: 0.9rem;
}

.strong-pink {
  color: #e792b0;
  font-family: 'NunitoSans ExtraBold';
}

@media screen and (min-width: 768px) {
  .sub-title {
    text-align: start;
    font-size: 4.5rem;
  }

  .sub-title .down {
    display: block;
  }

  .sub-title .endpoint {
    font-size: 4rem;
  }

  .paragraph {
    font-size: 1.2rem;
  }

  .btn {
    width: 170px;
    font-size: 1rem;
  }
}

/* GLOBAL CLASSES END */

/* MAIN START */
.main-image {
  min-height: 250px;
  display: flex;
}

.main-image img {
  object-fit: cover;
  width: 100%;
  border-radius: 0 0 130px 0;
}

.main-content {
  padding: 2rem;
}

.main h2 {
  line-height: 2.5rem;
}

.main form {
  margin-top: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  color: #a90045;
  font-size: 0.9rem;
  font-family: 'NunitoSans ExtraBold';
}

.form-group input {
  display: block;

  width: 100%;
  height: 45px;
  margin-top: 0.5rem;
  padding-left: 1rem;

  border: 2px solid #a90045;
  outline: none;
  border-radius: 6px;

  font-family: 'NunitoSans Regular';

  transition: all 0.2s ease-in-out;
}

.main .btn {
  background: #e792b0;
  width: 100%;
  color: #fff;
  cursor: pointer;
}

.main .btn:hover {
  background: #e281a3;
}

@media screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .main h2 {
    line-height: 3.5rem;
  }

  .main .btn {
    width: 170px;
  }

  .form-group label {
    font-size: 1rem;
  }

  .form-group input {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    padding-top: 4rem;
    padding-right: 15rem;
  }

  .main {
    grid-template-columns: 1.5fr 2fr;
    column-gap: 2rem;
  }

  .form-group input {
    height: 48px;
  }
}

/* MAIN END */

/* CONTACT US START */
.contact-us {
  position: relative;
}

.contact-us .container {
  padding: 2rem 2rem 3rem 2rem;
}

.contact-us-icons {
  margin-top: 1.5rem;

  display: flex;
  align-items: center;
}

.contact-us-icons:last-of-type {
  margin-top: 1rem;
}

.contact-us-icons p {
  margin-top: 0;
  margin-left: 1rem;
}

.contact-us-icons i {
  color: #e792b0;
  font-size: 1.2rem;
}

.contact-us h2 {
  line-height: 2.5rem;
}

.contact-us-figure {
  display: none;
}

@media screen and (min-width: 648px) {
  .contact-us h2 {
    line-height: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  .contact-us .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-us-figure {
    /* background-color: rebeccapurple; */

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: flex-end;
  }

  .contact-us-figure-1 {
    background: #e9c33a;
    width: 250px;
    height: 120px;
    border-radius: 80px 20px 80px 80px;
  }

  .contact-us-figure img {
    position: absolute;
    right: 80px;
    top: -70px;
    max-height: 130px;
    transform: rotate(180deg);
  }
}

/* CONTACT US END */

/* GOOGLE MAPS START */
.google-maps {
  width: 100%;
  height: 400px;
  display: flex;

  padding-bottom: 2rem;
}

/* .google-maps img {
  object-fit: cover;
  width: 100%;
} */

.google-maps iframe {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .google-maps {
    height: 600px;
  }
}

/* GOOGLE MAPS END */

.pink-container {
  background: #e792b0;
  height: 35px;
}
