* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* GLOBAL CLASSES START */
.container {
  margin: 0 auto;
  /* max-width: 1280px; */
  max-width: 1380px;
}

.layout {
  position: relative;
  top: 77px;
}

@media screen and (min-width: 640px) {
  .layout {
    top: 55px;
  }
}

@media screen and (min-width: 1024px) {
  .layout {
    top: 71px;
  }
}

.btn {
  width: 130px;
  height: 45px;
  text-decoration: none;

  border-radius: 25px 5px 5px 5px;

  font-family: 'NunitoSans Black';
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease-in-out;
}

.sub-title {
  text-transform: lowercase;

  color: #890045;
  font-family: 'DMSerifDisplay Regular';
  font-size: 2.5rem;

  text-align: center;
}

.sub-title .endpoint {
  color: #e792b0;
  font-size: 3rem;
}

.paragraph {
  margin-top: 1.5rem;
  line-height: 1.5rem;

  color: #070707;
  font-family: 'NunitoSans Regular';
  font-size: 1rem;
}

.strong-pink {
  color: #e792b0;
}

@media screen and (min-width: 468px) {
  .btn {
    width: 150px;
  }
}

@media screen and (min-width: 768px) {
  .sub-title {
    text-align: start;
    font-size: 4rem;
  }

  .sub-title .down {
    display: block;
  }

  .sub-title .endpoint {
    font-size: 4rem;
  }

  .paragraph {
    font-size: 1.1rem;
  }

  .btn {
    width: 170px;
  }
}

/* GLOBAL CLASSES END */

/* MAIN */
.main {
  position: relative;
  background: #8a0045;
}

.main .container {
  padding: 2rem;
  min-height: calc(100vh - 4.5rem);

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  text-align: center;
}

.main-content-image {
  margin-bottom: 1rem;
}

.main-content-image img {
  max-height: 40px;
}

.main span {
  color: #e9c33a;
  /* font-size: 1rem; */
  font-size: 0.8rem;
  font-family: 'NunitoSans Black';
}

.main h1 {
  margin: 1rem 0 1.5rem 0;
  line-height: 40px;
  letter-spacing: 0.3rem;
  text-transform: lowercase;

  color: #fff;
  font-size: 1.5rem;
  font-family: 'DMSerifDisplay Regular';
}

.main p {
  color: #fff;
  font-size: 0.8rem;
}

.main-image,
.main-image-figure {
  display: none;
}

.main-image img {
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 445px) {
  .main span {
    font-size: 1.1rem;
  }

  .main h1 {
    font-size: 3.5rem;
    line-height: 55px;
  }

  .main p {
    padding: 0 1rem;
    font-size: 1rem;
  }
}

@media screen and (min-width: 645px) {
  .main-content-image img {
    max-height: 50px;
  }
}

@media screen and (min-width: 768px) {
  .main p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 1024px) {
  .main .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .main span {
    font-size: 1.5rem;
  }

  .main h1 {
    margin-left: -1.5rem;
    line-height: 80px;

    font-size: 5rem;
  }

  .main p {
    line-height: 1.8rem;
  }

  .main-image-figure {
    display: block;

    position: absolute;
    right: 7rem;
    bottom: -75px;
    z-index: 1000;
  }

  .main-image-figure img {
    max-height: 150px;
  }

  .main-image {
    display: flex;

    position: absolute;
    top: 0;
    right: 0;

    width: 45%;
    height: 100%;
  }
}

/* END MAIN */

/* NAV SECTION START */
.nav-section {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}

.btn-conocenos {
  background-color: #870045;
  margin-right: 1rem;
  color: #fff;
}

.btn-conocenos:hover {
  background: #fff;
  border: 3px solid #870045;
  color: #870045;
}

.btn-historia {
  background: #fff;
  margin-left: 1rem;
  border: 3px solid #e792b0;
  color: #e792b0;
}

.btn-historia:hover {
  background: #e792b0;
  color: #fff;
}

/* NAV SECTION END */

/* BIG CARD START */
.mobile {
  display: block;
}

.no-mobile {
  display: none;
}

.big-card-container .container {
  position: relative;
  padding: 2rem;
}

.big-card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 120px 30px 30px 30px;
  width: 100%;

  transition: all 0.3s ease-in-out;
}

.unselected {
  position: absolute;
  top: 0;
  opacity: 0;
}

.big-card-image {
  display: flex;
  height: 250px;
}

.big-card-image img {
  object-fit: cover;
  width: 100%;
  border-radius: 120px 30px 0 0;
}

.big-card-content {
  padding: 3rem;
}

.big-card-content hr {
  border: 2px solid #e48fad;
}

.big-card-date {
  font-family: 'NunitoSans Regular';
}

.big-card-place {
  font-family: 'NunitoSans ExtraBold';
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  .no-mobile {
    display: block;
  }

  .big-card-image {
    display: flex;
    height: 600px;
  }
}

/* BIG CARD END */

/* SLIDER CARDS */
.cards {
  display: none;
}

.cards .container {
  position: relative;
  padding: 2rem 2rem 5rem 2rem;
}

.card {
  width: 300px;
  height: 300px;
  margin: 3rem;

  display: flex;
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}

.card img {
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .cards {
    display: block;
  }

  .card-active {
    transform: scale(1.1);
  }
}

/* -------------------------------------------------------------- */
.swiper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* width: 100%;
  height: 100%; */
  /* padding: 3rem; */
  border-radius: 50px 50px 50px 50px;
}

.swiper-slide {
  /* text-align: center; */
  /* font-size: 18px; */
  background: #fff;
  /* flex: 1; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  background: #850045;
}

.swiper-button-next,
.swiper-button-prev {
  color: #850045;
}

.swiper-button-next-2 {
  margin-right: -0.2rem;
}

.swiper-button-prev-2 {
  margin-left: -0.2rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
  font-weight: bolder;
}

/* SLIDER CARDS END */

/* VALUES */
.values {
  background: #fde7ef;
}

.values .container {
  padding: 5rem 2rem;
}

.values-image {
  text-align: center;
}

.values-image img {
  max-height: 150px;
}

.values-content {
  margin-top: 1.5rem;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(2, 150px);
  justify-content: center;
}

.values-content h3 {
  text-transform: lowercase;

  color: #840045;
  font-size: 2rem;
  font-family: 'DMSerifDisplay Regular';
}

@media screen and (min-width: 765px) {
  .values .container {
    padding: 5rem 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid: 2rem;
  }

  .values-content {
    margin-top: 0;
    padding-top: 3rem;
    text-align: start;

    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(4, 50px);
    justify-content: flex-start;
    align-items: center;
  }

  .values-content h3 {
    font-size: 2.6rem;
    margin-left: 5rem;
  }

  .values-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .values-image img {
    max-height: 200px;
  }
}

@media screen and (min-width: 1024px) {
  .values-image img {
    max-height: 300px;
  }
}

/* VALUES END */

.yellow-container {
  background: #e9c33a;
  height: 35px;
}
